USE [master]
GO
/****** Object:  Database [ApiTemp]    Script Date: 13/04/2019 05:44:37 ******/
CREATE DATABASE [ApiTemp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApiTemp', FILENAME = N'C:\Users\tito_\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ApiTemp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApiTemp_log', FILENAME = N'C:\Users\tito_\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ApiTemp.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApiTemp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApiTemp]
GO
USE [ApiTemp]
GO
/****** Object:  Table [dbo].[City]    Script Date: 13/04/2019 05:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[city] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temperature]    Script Date: 13/04/2019 05:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temperature](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[temperature] [int] NULL,
	[City_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Temperature]  WITH CHECK ADD  CONSTRAINT [fk_City_id] FOREIGN KEY([City_id])
REFERENCES [dbo].[City] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Temperature] CHECK CONSTRAINT [fk_City_id]
GO
USE [master]
GO
